sql-query-builder/target/
sql-query-builder/.DS_Store
sql-query-builder/mvnw*
sql-query-builder/.mvn/
sql-query-builder/activeWS_log.txt

### STS ###
sql-query-builder/.classpath
sql-query-builder/.factorypath
sql-query-builder/.project
sql-query-builder/.settings
sql-query-builder/.springBeans

### IntelliJ IDEA ###
sql-query-builder/.idea
sql-query-builder/*.iws
sql-query-builder/*.iml
sql-query-builder/*.ipr

### NetBeans ###
sql-query-builder/nbproject/private/
sql-query-builder/build/
sql-query-builder/nbbuild/
sql-query-builder/dist/
sql-query-builder/nbdist/
sql-query-builder/.nb-gradle/
sql-query-builder/mvnw
sql-query-builder/mvnw.cmd

## so preu comitar de boas ##
sql-query-builder/MainPOCGCM.java

